<%- include('../partials/header') %>
<div class="home-page">
  <h2>All Facespace members</h2>
  
  <ul class="homepage__all">
    <% users.forEach(user => { %>
    <li class="homepage__all--user">
      <a href="./users/<%-user._id%>"><img src="<%= user.avatarUrl %>" /></a>
        <p class="hover-name"><%- user.name %></p>
        <%if (currentUser.name){ %>
            <%if (currentUser.friends.includes(user._id)){ %>
                <h4 class="friend-ribbon">Friend</h4>
     
                <%}%>
            <%}%>
      </li>
    </li>
    <% }) %>
  </ul>
</div>
<%- include('../partials/footer') %>