<%- include('../partials/header') %>

<div class="profile-page--banner"></div>
<section class="profile-page__user">
    <img class="profile-page__user--avatar" src="<%- user.avatarUrl%>">
    <h1><%- user.name%></h1>

</section>

<div class="profile-page__friends">
    <h3><%= user.name %>'s Friends</h3>
    <ul class="profile-page__friends--list">
    <% friends.forEach(friend => {%>
        <li class="friend">
            <a href="../users/<%-friend._id%>"><img src="<%= friend.avatarUrl %>" class="img" /></a>
            <p><%- friend.name %></p>
          </li>

    <%})%>
     
        
      <!-- each friend's image and name should be visible. -->
    </ul>
  </div>

<%- include('../partials/footer') %>